/* IMPORTANT RULE : even to defined to 62.5% which is
 equal to 10px in the HTML tag but it won't be allied in the 
 media quiries and it is still the default size which is 16px so
 you need to caculate for widthes because we need to define max and min-widthes in em
 and  1em = 16px  */

/* for 1344px */

@media (max-width: 84em) {
    /* .hero {
      max-width: 120rem;
   } */
    .heading-primary {
        font-size: 5.4rem;
    }
    .testimonial-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .heading-secondary {
        font-size: 3.8rem;
    }
    .cta-box-img {
        background-position: center;
    }
}

/* for 1200px */
@media (max-width: 75em) {
    html {
        /* font-size: 9px; */
        font-size: 56.25%;
    }
    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .hero {
        gap: 4.8rem;
    }
    .header {
        padding: 0 3.2rem;
    }
    .heading-secondary {
        font: size 3rem;
    }
    .heading-tertiary {
        font-size: 2.2;
    }
    .main-nav-list {
        gap: 2.4rem;
    }
    .testimonials-container {
        padding: 6.4rem 3.2rem;
    }
}
@media (max-width: 59em) {
    html {
        /* 8/ 16 = 0.5 = 50% */
        font-size: 50%;
    }
    .hero {
        grid-template-columns: 1fr;
        gap: 8rem;
    }
    .hero-img {
        width: 60%;
    }
    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }
    .delivered-container {
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos img {
        height: 2.4rem;
    }
    .meal-description {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
    .step-number {
        font-size: 7rem;
    }
    .section-testimonials {
        grid-template-columns: 1fr;
    }
    .testimonial-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
    .cta {
        grid-template-columns: 3fr 2fr;
    }
    .cta-form {
        grid-template-columns: 1fr;
    }
    .cta-box-img {
        background-position: center;
    }
    .btn--form {
        margin-top: 1.2rem;
    }

    .main-navigation {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;
        background-color: #fae5d3;

        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s ease-in-out;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-open .main-navigation {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .mobile-icon-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .mobile-icon-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 4.8rem;
    }
    .mobile-btn-nav {
        display: block;
        z-index: 11;
    }
    .nav-links:link,
    .nav-links:visited {
        color: #333;
        font-weight: 500;
        font-size: 2.8rem;
    }
    .pricing-plan {
        width: 79%;
    }
}

@media (max-width: 45em) {
    html {
        font-size: 55%;
    }
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr 1fr;
    }
    .meal {
        width: 88%;
    }
    .meal-1 {
        justify-self: end;
    }
    .diets {
        grid-column: 1/-1;
        justify-self: center;
    }
    .list-diets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing-plan {
        width: 96%;
    }
    .grid--footer {
        grid-template-columns: repeat(6, 1fr);
    }
    .nav-col {
        grid-row: 1/2;
        grid-column: span 2;
    }

    .footer-logo,
    .footer-address {
        grid-column: span 3;
    }
    .social-links {
        margin-top: 3.2rem;
    }
}
@media (max-width: 32em) {
    .heading-primary {
        font-size: 3.6rem;
    }
    .heading-secondary {
        font-size: 3rem;
        margin-bottom: 6.4rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }
    .btn--cta,
    .btn--more {
        padding: 2.4rem 2.6rem;
    }
    .hero {
        gap: 6rem;
    }
    .hero-img {
        width: 82%;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2rem;
        row-gap: 3.2rem;
        justify-content: center;
        justify-items: center;
    }
    .logo-1st-row {
        grid-row: 1/2;
        grid-column: span 2;
    }
    .logo-2nd-row {
        grid-column: span 3;
        justify-self: end;
    }
    .logo-2nd-row-2 {
        justify-self: start;
    }
    .logos img {
        height: 2rem;
    }

    .step-img-box {
        transform: translateY(3.2rem);
    }
    .step-img-box:nth-child(2) {
        grid-row: 1/2;
    }
    .step-img-box:nth-child(6) {
        grid-row: 5/6;
    }
    .meal {
        justify-self: center;
    }
    .list-diets {
        justify-content: center;
    }
    .diets {
        width: 100%;
    }
    .list-diets {
        width: 80%;
        margin: 0 auto;
        column-gap: 1rem;
    }
    .testimonial-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .section-cta,
    .section-pricing {
        padding: 4.8rem 0;
    }
    .margin-bottom-md {
        margin-bottom: 2.4rem !important;
    }
    .pricing-plan-starter,
    .pricing-plan-complete {
        justify-self: center;
    }
    .pricing-plan-complete::after {
        right: -19%;
    }
    .feature-text {
        font-size: 1.8rem;
    }
    .cta {
        grid-template-columns: 1fr;
    }
    .cta-box-img {
        background-position: center -60px;
        height: 34rem;
        grid-row: 1/2;
    }
    .cta-box-text {
        padding: 3.2rem;
    }
    .btn--form {
        padding: 2.4rem 2.6rem;
        margin-top: 2.4rem;
    }
    .testimonials-container {
        padding: 6.4rem 2.4rem;
    }
    .list-item {
        font-size: 1.6rem;
    }
}
